/* Import fonts */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;0,400;1,300&display=swap');
@import url('https://fonts.googleapis.com/css?family=Special+Elite');
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

:root {
    --main-color: #5B7A5E;
    --green-font-color: #8EAD8F;
    --additional-color: #2C3A47;
    --additional-color-2: #fff;
    --black: #000;
    --positionThumb: 50%;
}

body {
    font-size: 16px;
}

/* Loader */
#loader {
    position: fixed;
    height: 100%;
    width: 100%;
    background: var(--black);
    z-index: 99;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#loader.hidden {
    animation: fadeOut 500ms;
    animation-fill-mode: forwards;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        visibility: hidden;
    }
}


.lds-ripple {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-ripple div {
    position: absolute;
    border: 4px solid #fff;
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
}

@keyframes lds-ripple {
    0% {
        top: 36px;
        left: 36px;
        width: 0;
        height: 0;
        opacity: 1;
    }

    100% {
        top: 0px;
        left: 0px;
        width: 72px;
        height: 72px;
        opacity: 0;
    }
}

.overflow {
    overflow: hidden;
}

/* Header */
header {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    overflow: hidden;
}

header .images .slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

}

header .images .slider .drag-line {
    width: 2px;
    height: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 5;
    transition: 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

header .images .slider .drag-line span {
    height: 55px;
    width: 60px;
    border: 2px solid var(--black);
    background: var(--main-color);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.9;
    display: flex;
}

header .images .slider .drag-line span .box {
    flex-basis: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

header .images .slider .drag-line span .box:first-of-type img {
    transform: rotate(180deg);
}

header .images .slider .drag-line span .box img {
    width: 50%;
}

header .images .slider .drag-line span .box img::selection {
    background: transparent;
}

header .images .slider .drag-line::before,
header .images .slider .drag-line::after {
    position: absolute;
    content: "";
    width: 100%;
    height: calc(50% - 27.5px);
    background: var(--black);
}

header .images .slider .drag-line::before {
    top: 0;
}

header .images .slider .drag-line::after {
    bottom: 0;
}

header .images .slider input {
    width: 100%;
    outline: none;
    background: none;
    -webkit-appearance: none;
}

header .images .slider input::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 100vh;
    width: 8px;
    cursor: col-resize;
    z-index: 5;
    position: absolute;
    top: 0;
    left: var(--positionThumb);
    transform: translateX(-50%);
}

header .images #slider-photo-1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -3;
    background: url("img/13093035_rynek-starego-miasta--warszawa.png");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    transition: 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

header .images #slider-photo-2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    z-index: -3;
    background: url("img/Old_Town_Warsaw_waf-2012-1501-31\(1945\).jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    transition: 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

/* Main nav */
header nav {
    padding: 60px 0 30px;
    width: 90%;
    display: flex;
    justify-content: space-between;
}

header nav a {
    text-decoration: none;
}

header nav .menu a {
    color: var(--black);
    position: relative;
}

header nav .menu a::before,
header nav a h2::before,
header section .info-source a::before {
    content: "";
    position: absolute;
    top: -7px;
    left: 50%;
    transform: translateX(-50%);
    width: 30%;
    height: 1px;
    transition: top 250ms, width 250ms 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
    z-index: -1;
}

header nav .menu a::before,
header nav a h2::before {
    background: var(--black);
}

header nav .menu a:hover::before,
header nav a h2:hover::before,
header section .info-source a:hover::before {
    top: calc(100% + 3px);
    width: 100%;
}

header nav a h2 {
    font-weight: 300;
    font-size: 37px;
    color: var(--black);
    position: relative;
}

header nav a h2 span {
    color: var(--main-color);
}

/* Header section */
header section {
    flex-grow: 1;
    width: 100%;
    position: relative;
    overflow-x: hidden;
}

header section .info-source {
    position: absolute;
    right: -185px;
    width: 260px;
    opacity: 0.90;
    cursor: pointer;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    transition: 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
    display: flex;
    padding: 12px 25px;
    justify-content: space-between;
    align-items: center;
    z-index: 6;
}

.black {
    background: var(--black);
    bottom: 100px;
}

.black a {
    color: var(--additional-color-2);
}

.black a::before {
    background: var(--additional-color-2);
}

.green {
    background: var(--main-color);
    bottom: 30px;
}

.green a {
    color: var(--black);
}

.green a::before {
    background: var(--black);
}

header section .info-source:hover {
    opacity: 0.95;
    right: 0px;
}

header section .info-source img {
    height: 25px;
    width: 25px;
}

header section .info-source a {
    text-decoration: none;
    transform: translateY(2px);
}

/* Main */
main section#history {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 800px;
}

main section#history .wrapper {
    flex-basis: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    font-weight: 300;
}

main section#history .wrapper .wrapper-left {
    flex-basis: 800px;
    display: flex;
    flex-direction: column;
}

main section#history .wrapper .wrapper-left p {
    margin-bottom: 50px;
}

main section#history:nth-of-type(2) .wrapper .wrapper-left p:nth-of-type(2) {
    margin-bottom: 15px;
}

main section#history:nth-of-type(2) .wrapper .wrapper-left ul {
    margin-bottom: 50px;
    list-style-image: url(img/circle-notch-solid.png);
    margin-left: 20px;
}

p.align-left {
    text-align: left;
}

p.align-right {
    text-align: right;
}

.bigletter {
    font-size: 40px;
    font-weight: 700;
    margin-right: 5px;
}

.mark {
    font-weight: 500;
}

main section#history .wrapper .source {
    height: 19px;
    line-height: 19px;
    color: var(--additional-color-2);
    font-size: 17px;
    display: flex;
    align-self: flex-end;
}

main section#history .wrapper .source img {
    height: 100%;
    margin-right: 7px;
    transform: translateY(-2px);
}

main section#history .wrapper .source span {
    line-height: 19px;
}

main section#history .wrapper .source span a {
    text-decoration: none;
    color: var(--green-font-color);
    margin-left: 5px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

main section#history:nth-of-type(2) .wrapper .source span {
    color: var(--black);
}

main section#history:nth-of-type(2) .wrapper .source span a {
    color: var(--additional-color-2);
}

main section#history .wrapper .source span a:hover {
    text-decoration: underline;
}

main section#history .wrapper .wrapper-right {
    flex-basis: 450px;
    height: 100%;
    display: flex;
    position: relative;
}

main section#history:nth-of-type(2) .wrapper .wrapper-right {
    flex-direction: row-reverse;
}

main section#history .wrapper .order-1 {
    order: 1;
}

main section#history .wrapper .order-2 {
    order: 2;
}

.black-font {
    color: var(--black);
}

.white-font {
    color: var(--additional-color-2);
}

.green-font {
    color: var(--green-font-color);
}

main section#history .wrapper .wrapper-right .moving-img {
    height: 100%;
    display: flex;
    flex-basis: 400px;
    width: 400px;
}

main section#history .wrapper .wrapper-right .moving-img .model-left,
main section#history .wrapper .wrapper-right .moving-img .model-right {
    width: 200px;
}

main section#history .wrapper .wrapper-right .wrapper-source {
    -webkit-transform: rotate(90deg) translateX(-50%);
    -webkit-transform-origin: left top;
    -moz-transform: rotate(90deg) translateX(-50%);
    -moz-transform-origin: left top;
    -ms-transform: rotate(90deg) translateX(-50%);
    -ms-transform-origin: left top;
    -o-transform: rotate(90deg) translateX(-50%);
    -o-transform-origin: left top;
    transform: rotate(90deg) translateX(-50%);
    transform-origin: left top;
    position: absolute;
    top: 50%;
    left: 100%;
    white-space: nowrap;
    font-size: 17px;
}

main section#history:nth-of-type(2) .wrapper .wrapper-right .wrapper-source {
    -webkit-transform: rotate(-90deg) translateX(-50%);
    -webkit-transform-origin: left top;
    -moz-transform: rotate(-90deg) translateX(-50%);
    -moz-transform-origin: left top;
    -ms-transform: rotate(-90deg) translateX(-50%);
    -ms-transform-origin: left top;
    -o-transform: rotate(-90deg) translateX(-50%);
    -o-transform-origin: left top;
    transform: rotate(-90deg) translateX(-50%);
    transform-origin: left top;
    position: absolute;
    top: 50%;
    left: 0;
    white-space: nowrap;
    font-size: 17px;
}

main section#history .wrapper .wrapper-right .wrapper-source img {
    height: 20px;
    transform: translateY(4px);
    margin-right: 7px;
}

main section#history .wrapper .wrapper-right .wrapper-source span {
    color: var(--additional-color-2);
}

main section#history:nth-of-type(2) .wrapper .wrapper-right .wrapper-source span {
    color: var(--black);
}

main section#history .wrapper .wrapper-right .wrapper-source span a {
    color: var(--green-font-color);
    text-decoration: none;
}

main section#history:nth-of-type(2) .wrapper .wrapper-right .wrapper-source span a {
    color: var(--additional-color-2);
}

main section#history .wrapper .wrapper-right .wrapper-source span a:hover {
    text-decoration: underline;
}

.model-right {
    transform: translate(0%, 7%);
    transition: 500ms cubic-bezier(0.215, 0.610, 0.355, 1);
}

.model-left {
    transform: translate(0%, -7%);
    transition: 500ms cubic-bezier(0.215, 0.610, 0.355, 1);
}

.moving-img:hover .model-right,
.moving-img:hover .model-left {
    transform: translate(0%, 0%);
}

/* Parallax */

section#history-3 {
    width: 100%;
    display: flex;
    justify-content: center;
    background: var(--main-color);
    position: relative;
    height: 500px;
}

section#history-3 .soliders {
    width: 100%;
    object-fit: cover;
    object-position: right;
    height: 500px;
    position: absolute;
    bottom: 0;
    left: 0;
}

section#history-3 .wrapper {
    flex-basis: 77%;
    margin-top: 50px;
    display: flex;
}

section#history-3 .wrapper .wrapper-left {
    flex-basis: 500px;
}

section#history-3 .wrapper .wrapper-left h1 {
    font-size: 2.3rem;
    margin-bottom: 40px;
    font-family: 'Courgette', cursive;
}

section#history-3 .wrapper .wrapper-left blockquote {
    font-weight: 100;
    font-size: 1.7rem;
    line-height: 1.4;
    position: relative;
    font-family: 'Courgette', cursive;
    text-align: justify;
}

section#history-3 .wrapper .wrapper-left blockquote:before,
section#history-3 .wrapper .wrapper-left blockquote:after {
    position: absolute;
    color: var(--black);
    font-size: 8rem;
    width: 4rem;
    height: 4rem;
}

blockquote:before {
    content: '“';
    left: -5rem;
    top: -2.5rem;
}

blockquote:after {
    content: '”';
    right: -4rem;
    bottom: 0rem;
}

cite {
    line-height: 3;
    font-family: 'Courgette', cursive;
    text-align: left;
}

section#video {
    height: 900px;
    width: 100%;
    background: var(--black);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 800px;
}

section#video iframe {
    height: 700px;
    width: 1200px;
}

footer {
    background: var(--black);
    width: 100%;
    text-align: right;
    padding: 20px 100px;
    font-size: 15px;
    font-weight: 300;
}

footer p {
    color: var(--additional-color-2);
}

footer p a {
    color: var(--green-font-color);
    text-decoration: none;
}

footer p a:hover {
    text-decoration: underline;
}

/* MEDIA QUERIES */
@media (max-width: 1600px) {
    main section#history .wrapper {
        flex-basis: 90%;
    }

    main section#history .wrapper .wrapper-left {
        flex-basis: 60%;
    }

    main section#history .wrapper .wrapper-right {
        flex-basis: 400px;
    }

    main section#history .wrapper .wrapper-right .moving-img {
        width: 350px;
    }

    main section#history .wrapper .wrapper-right .moving-img .model-left,
    main section#history .wrapper .wrapper-right .moving-img .model-right {
        width: 175px;
    }

    section#history-3 .wrapper .wrapper-left {
        flex-basis: 450px;
    }

    section#history-3 .wrapper .wrapper-left h1 {
        font-size: 2rem;
    }

    section#history-3 .wrapper .wrapper-left blockquote {
        font-size: 1.5rem;
    }

    section#video iframe {
        width: 1100px;
    }
}

@media (max-width: 1250px) {
    main section#history .wrapper .wrapper-left {
        flex-basis: 57.5%;
    }
}

@media (max-width: 1200px) {

    main section#history {
        height: auto;
    }

    main section#history .wrapper {
        flex-direction: column;
        padding: 100px 0 75px 0;
    }

    main section#history .wrapper {
        flex-basis: 90%;
    }

    main section#history .wrapper .wrapper-left {
        order: 2;
    }

    main section#history .wrapper .wrapper-right {
        order: 1;
        margin-bottom: 75px;
        width: 400px;
    }

    main section#history .wrapper .wrapper-right .moving-img {
        width: 350px;
    }

    section#history-3 .wrapper .wrapper-left {
        flex-basis: 350px;
    }

    section#history-3 .soliders {
        height: 400px;
    }

    section#video iframe {
        height: 600px;
        width: 900px;
    }

}

@media (max-width: 992px) {

    section#history-3 {
        height: 750px;
    }

    section#history-3 .wrapper .wrapper-left {
        flex-basis: 500px;
    }

    section#history-3 .wrapper {
        justify-content: center;
    }

    section#video iframe {
        height: 500px;
        width: 700px;
    }
}

@media (max-width: 768px) {

    section#history-3 .wrapper .wrapper-left {
        flex-basis: 80%;
    }

    section#video {
        height: 700px;
    }

    section#video iframe {
        height: 500px;
        width: 100%;
    }

    footer {
        padding: 20px 50px;
    }
}

@media (max-width: 576px) {

    main section#history .wrapper .wrapper-right {
        width: 350px;
    }

    main section#history .wrapper .wrapper-right .moving-img {
        width: 300px;
    }

    main section#history .wrapper .wrapper-right .moving-img .model-left,
    main section#history .wrapper .wrapper-right .moving-img .model-right {
        width: 150px;
    }

    section#history-3 {
        height: 825px;
    }

    section#history-3 .wrapper .wrapper-left h1 {
        font-size: 2.5rem;
        margin-bottom: 75px;
    }

    section#history-3 .wrapper .wrapper-left blockquote:before,
    section#history-3 .wrapper .wrapper-left blockquote:after {
        font-size: 6rem;
    }

    blockquote:before {
        content: '“';
        left: 0rem;
        top: -4rem;
    }

    blockquote:after {
        content: '”';
        right: -1rem;
        bottom: -4rem;
    }

    section#history-3 .wrapper {
        flex-basis: 100%;
    }

}

@media (max-width: 480px) {
    section#history-3 {
        height: 850px;
    }

    main section#history .wrapper .wrapper-right {
        width: 330px;
    }

    main section#history .wrapper .wrapper-right .moving-img {
        width: 280px;
    }

    main section#history .wrapper .wrapper-right .moving-img .model-left,
    main section#history .wrapper .wrapper-right .moving-img .model-right {
        width: 140px;
    }

    main section#history .wrapper .source {
        font-size: 16px;
    }

    main section#history .wrapper .wrapper-right .wrapper-source .source {
        font-size: 16px;
    }

    main section#history .wrapper .wrapper-right .wrapper-source,
    main section#history:nth-of-type(2) .wrapper .wrapper-right .wrapper-source {
        font-size: 16px;
    }
}

@media (max-width: 400px) {
    main section#history .wrapper .wrapper-right {
        width: 330px;
    }

    main section#history .wrapper .wrapper-right .moving-img {
        width: 280px;
    }

    main section#history .wrapper .wrapper-right .moving-img .model-left,
    main section#history .wrapper .wrapper-right .moving-img .model-right {
        width: 140px;
    }
}

@media (max-width: 360px) {
    main section#history .wrapper .wrapper-right {
        width: 280px;
    }

    main section#history .wrapper .wrapper-right .moving-img {
        width: 250px;
    }

    main section#history .wrapper .wrapper-right .moving-img .model-left,
    main section#history .wrapper .wrapper-right .moving-img .model-right {
        width: 125px;
    }
}